body {
  font-family: Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}

h1, .h-primary {
  font-size: 3em;
  color: darkcyan;
}

#navbar {
  background-color: #333;
  padding: 10px;
  color: white;
}

#navbar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

#navbar .item a {
  color: white;
  text-decoration: none;
}

.searchbar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.searchbar input {
  padding: 10px;
  width: 300px;
}

.searchbar button {
  padding: 10px;
  background-color: darkcyan;
  color: white;
  border: none;
  cursor: pointer;
}

#home {
  background-color: lightseagreen;
  padding: 50px;
  text-align: center;
}



#gallery {
  padding: 50px;
}

.gallery1 {
  display: flex;
  justify-content: space-around;
}

.gallery-item {
  width: 50em;
  height: 50em;
  margin: 10px;
  text-align: center;
  padding: 50px;
}

#services-container {
  padding: 50px;
}

.service-box {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: lightgray;
  text-align: center;
  margin: 20px;
  padding-top: 80px;
}

button {
  padding: 10px 20px;
  background-color: darkcyan;
  border: none;
  cursor: pointer;
  color: white;
}
